<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/app,js"></script>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Web page created by Sergio Benitez, Following the instructions of The Complete Node.js Developer Course by Andrew Mead. This app use the APIs of mapbox and darksky.</p>
    <img class="portrait" src="/img/me.png">
  </div>
  {{>footer}}
</body>

</html>
